.custom-container{
  padding-top: 1rem;
  justify-content: center;
  align-items: center;
}

.user-image {
  background-image: url('../../assets/img/user-female.png');
  background-size: cover;
}

.custom-button {
  height: 40px !important;
  width: 300px !important;
}

th.mat-column-code, td.mat-column-code {
  padding-left: 8px;
  width: 180px;
}

th.mat-column-amount, td.mat-column-amount {
  padding-left: 90px;
  width: 250px;
}

th.mat-column-status, td.mat-column-status {
  padding-left: 90px;
  width: 250px;
}

th.mat-column-action, td.mat-column-action {
  padding-left: 150px;
  width: 250px;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}
