.custom-container{
  padding-top: 1rem;
  justify-content: center;
  align-items: center;
}

.user-image {
  background-image: url('../../assets/img/oracle.jpg');
  background-size: cover;
  height: 80px;
  width: 80px;
}

.custom-button {
  height: 40px !important;
  width: 300px !important;
}

th.mat-column-airline, td.mat-column-airline {
  padding-left: 8px;
  width: 220px;
}

th.mat-column-code, td.mat-column-code {
  padding-left: 70px;
  width: 250px;
}

th.mat-column-departure, td.mat-column-departure {
  padding-left: 90px;
  width: 250px;
}

th.mat-column-arrival, td.mat-column-arrival {
  padding-left: 90px;
  width: 250px;
}

th.mat-column-action, td.mat-column-action {
  padding-top: 20px;
  padding-left: 50px;
  width: 250px;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}
